name: Simple Python CI

on: [push]

jobs:
  test_job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install pytest
        run: pip install pytest

      - name: Run tests (show output)
        run: pytest -v

      - name: Save test output to file
        run: pytest -v > test-output.txt

      - name: Upload test output
        uses: actions/upload-artifact@v4
        with:
          name: test-output
          path: test-output.txt
